:root {
    --color: #ffffff;
    --background-color: #5BC241;
}

html {
    font-size: 62.5%;
    font-family: "Public Sans", serif;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.logo h1{
    font-size: 2.5rem;
}

.menu {
    display: flex;
    align-items: center;
    font-size: 1.5rem;
}

.menu li{
    margin-left: 1.5rem;
}

.menu li a{
    padding: 10px;
}

.menu li a:hover {
    transition: 0.3s ease-in-out;
    color: var(--color);
    background-color: var(--background-color);
}
    
.menu li a.btn {
    border-radius: 10px;
    padding: 15px;
    display: inline-block;
    color: var(--color);
    background-color: var(--background-color);
}

